<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/back.css">
    <title>navbar</title>
</head>
<body>
    <div class="chhotabacha">
        <div class="logo"><img src="../public/images/logo.jpg" alt="logo"></div>
        <ul class="menu cf">
            <li><a href="">Volunteer</a></li>
            <li>
                    <a href="#">Courses</a>
                    <ul class="submenu">
            <li><a href="#">1st</a></li>
            <li><a href="#"> 2nd</a></li>
            <li><a href="#">3rd</a></li>
            <li><a href="#">4th</a></li>
            </ul>
            </li>
            <li>
                <a href="#">Add your college</a>
                <ul class="submenu">
        <li><a href="#">Hii</a></li>
        <li><a href="#"> hello</a></li>
        <li><a href="#">hello </a></li>
        <li><a href="#"> hello</a></li>
        </ul>
        </li>
        <li>
            <a href="#">Our Teams</a>
            <ul class="submenu">
    <li><a href="#">Hii </a></li>
    <li><a href="#"> hello</a></li>
    <li><a href="#">hello </a></li>
    <li><a href="#">hello </a></li>
    </ul>
    </li>
    <li>
        <!-- <a href="#">Services</a>
        <ul class="submenu">
<li><a href="#">hello</a></li>
<li><a href="#"> hello</a></li>
<li><a href="#">hello </a></li>
<li><a href="#">hello </a></li> -->
</ul>
</li>
            </ul>
    </div>
</body>
</html>